.header {
    margin: 0;
    padding: 0;

    .jumbo {
        margin: 0 auto;
        width: 100%;
        max-width: 1280px;
        background-color: #ecf0f1;
        color: #2c3e50;
        text-align: center;

        h1 {
            padding: 3rem 0 0 0;
            font-weight: bold;
            font-size: 5rem;
            margin: 0;
        }

        .tagline {
            margin: 0;
            font-size: 2rem;
            font-weight: normal;
            padding: 0 0 4rem 0;
        }
    }
}